/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #333;
  color: yellow;
  padding: 20px 0;
  text-align: center;
  position:fixed;	
  top:0px;
  left:0px;
  right:0px;
  z-index:999;
  
}


h1 {
  margin: 0;
  font-size: 36px;
  font-family:Roboto,Arial;
  color:#ffc107;
}

/* Main Container */
.main-container {
  max-width: 1300px;
  height:1000px;
  margin: 200px auto;
  padding-top: 120px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #fff;
  margin-top:800px;
  display:flex;
  
}

/* Search Container */
.search-container {
  margin-bottom: 20px;
}

#search-input {
  width: 50vw;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom:10px;
}

#search-btn {
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#search-btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
  color: #f0f0f0; /* Lighter text color on hover */
}


/* Search Result */
#search-result {
  margin-top: 20px;
  height: 1000px;
  margin-bottom: 100px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.result-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Add Item Container */
.add-item-container {
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center; /* Center align items */
  margin-bottom: 50px;
}

.additem-input {
  width: calc(100% - 20px); /* Adjust width */
  max-width: 300px; /* Set maximum width */
  height: 40px;
  margin-bottom: 10px; /* Add margin between inputs */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-item-btn {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-item-btn:hover {
  background-color: #218838;
}

/* Toggle Add Item Button */
#toggle-add-item-btn {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffc107;
  color: #212529;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
  /* Center the button horizontally */
  display: block; /* Convert to block element */
  
}


#toggle-add-item-btn:hover {
  background-color: #e0a800;
}

/*Category List*/
.legend {
  text-align: left;
  margin-bottom: 20px;
}

.legend p {
  font-weight: bold;
}

.cat-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.cat-list-item {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cat-list-item::before {
  content: "\2022";
  color: #007bff;
  margin-right: 5px;
}

/* Ensure two rows for the grid */
.cat-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto; /* Set two rows */
  grid-gap: 10px;
}


.category-count {
  margin-right: 10px;
  font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3); /* Adjust transparency as needed */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.welcome-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffc107;
}

#name-form {
    text-align: center;
}

#name,
#proceed-btn {
    margin-top: 20px;
}

#welcome-message {
    margin-top: 20px;
    font-size: 20px;
	text-align:center;
	color: black;
}


input[type="password"]{
	width:290px;
	height:35px;
	margin-bottom:10px;
	border-radius:5px;
}
.welcome-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.welcome-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
